html {
    margin : 0;
    padding : 0;
}
/* 
selector {}
h1{
    color: red ;
} */
body {
    font-family : 'Comic Sans', cursive;
}

h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p{
    padding: 0;
    margin:0;
}
.img-circle {
    border: 3px solid greenyellow;
    border-radius: 50%;
}

#header {
    background-image: url("https://i.pinimg.com/originals/9f/5c/6a/9f5c6a8f8419f92ec47cc7534114145e.gif");
    background-size: cover;
}
#header img {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.section {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}

table {
    width: 100%;
}

table,th,td {
    border : 2px solid #cecece ;
    border-collapse: collapse;
    text-align : center;
    table-layout: fixed;
}
.selected {
    background-color:yellow;
    font-weight: bold;
    color: black;
}
li {
    margin-bottom : 15px;
    font-weight: bold;
}
progress {
    width : 25%;
    height: 20px;
    color: #3fb6b2;
    background : white;
}
progress::-webkit-progress-bar {
    background: green;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: green;
}

iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}

nav {
    width: 100%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
}

.nav-links ul li a{
    font-size: 30pt;
    color: yellowgreen;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
#nama {
    text-shadow: yellow -1px -2px 0.5em;
    letter-spacing: normal;
    /* text-shadow: 5px 2px 2px blue; */
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
    transition: 0.3s;
}
.submit:hover {
    background-color: #43a09d;
}

.hover {
    transform: scale(1.05);
}

textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}